<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stylish Portfolio - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!--<link rel="stylesheet" href="../static/css/stylish-portfolio.css">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>



<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Welcome to the Resume database</h1>

    </div>
</header>


<!--Application section-->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">

                <!--</div><a name="about"></a>-->
                <div class="intro-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="intro-message">
                                    <hr class="intro-divider">
                                    <ul class="list-inline intro-social-buttons">
                                        <form class="well form-horizontal" th:action="@{/addexperience}" method="post" th:object="${newexperience}">
                                            <fieldset>

                                                <h2>Let us know more about your experience</h2><br />

                                                <input type="hidden" th:field="*{experienceId}" />

                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">title</label>
                                                    <div class="col-md-4 inputGroupContainer">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                            <input  th:field="*{title}" name="title" placeholder=" Enter Your title" class="form-control"  type="text">
                                                        </div>
                                                        <div th:if="${#fields.hasErrors('title')}"  th:errors="*{title}" class="well alert alert-warning" role="alert">Enter a valid title</div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">organization</label>
                                                    <div class="col-md-4 inputGroupContainer">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-email"></i></span>
                                                            <input  th:field="*{organization}" name="organization" placeholder=" Enter Your Organization" class="form-control"  type="text">
                                                        </div>
                                                        <div th:if="${#fields.hasErrors('organization')}"  th:errors="*{organization}" class="well alert alert-warning" role="alert">Enter Your organization</div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Start time</label>
                                                    <div class="col-md-4 inputGroupContainer">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-email"></i></span>
                                                            <input  th:field="*{startTime}" name="email" placeholder=" Enter the Start Time" class="form-control"  type="text">
                                                        </div>
                                                        <div th:if="${#fields.hasErrors('startTime')}"  th:errors="*{startTime}" class="well alert alert-warning" role="alert">Enter Your start time</div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">End time</label>
                                                    <div class="col-md-4 inputGroupContainer">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-email"></i></span>
                                                            <input  th:field="*{endTime}" name="End time" placeholder=" Enter the End Time" class="form-control"  type="text">
                                                        </div>
                                                        <div th:if="${#fields.hasErrors('endTime')}"  th:errors="*{endTime}" class="well alert alert-warning" role="alert">Enter Your end time</div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Duty 1</label>
                                                    <div class="col-md-4 inputGroupContainer">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-email"></i></span>
                                                            <input  th:field="*{duty1}" name="duty1" placeholder=" Enter Your Duty 1" class="form-control"  type="text">
                                                        </div>
                                                        <div th:if="${#fields.hasErrors('duty1')}"  th:errors="*{duty1}" class="well alert alert-warning" role="alert">Enter Your duty 1</div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Duty 2</label>
                                                    <div class="col-md-4 inputGroupContainer">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-email"></i></span>
                                                            <input  th:field="*{duty2}" name="email" placeholder=" Enter Your duty 2" class="form-control"  type="text">
                                                        </div>
                                                        <div th:if="${#fields.hasErrors('duty2')}"  th:errors="*{duty2}" class="well alert alert-warning" role="alert">Enter Your duty 2</div>
                                                    </div>
                                                </div>


                                                <p><input type="submit" value="Add to the profile" /><input type="reset" value="Reset" /></p>

                                            </fieldset>
                                        </form>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

</section>



<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
        var that = $(this);
        // Disable the click handler until the user leaves the map area
        that.off('click', onMapClickHandler);
        // Enable scrolling zoom
        that.find('iframe').css("pointer-events", "auto");
        // Handle the mouse leave event
        that.on('mouseleave', onMapMouseleaveHandler);
    }
    // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
</script>

</body>

</html>
