<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Resume Database</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/additional.css">


    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


</head>

<body>

<header class="halfpic">
    <div class="header-vertical-center">
        <h1>Welcome to the Resume database</h1>

    </div>
</header>

<!--Application section-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">

            <!--</div><a name="about"></a>-->
            <div class="intro-header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="intro-message">
                                <hr class="intro-divider">
                                <ul class="list-inline intro-social-buttons">
                                    <form class="well form-horizontal" th:action="@{/displayperson}" method="post" th:object="${newperson}">
                                        <!--th:action="@{/displayperson/{uuid}(uuid=${newperson.uuid})}-->
                                        <fieldset>
                                        <h3>Get Started by adding your name and email first:</h3><br />

                                            <input type="text" th:field="*{uuid}" />

                                            <div class="form-group">
                                                <label class="col-md-4 control-label">First Name</label>
                                                <div class="col-md-4 inputGroupContainer">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                        <input  th:field="*{firstName}" name="firstName" placeholder=" Enter Your First Name" class="form-control"  type="text">
                                                    </div>
                                                    <div th:if="${#fields.hasErrors('firstName')}"  th:errors="*{firstName}" class="well alert alert-warning" role="alert">Enter a valid first name</div>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Last Name</label>
                                                <div class="col-md-4 inputGroupContainer">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                        <input  th:field="*{lastName}" name="lastName" placeholder=" Enter Your Last Name" class="form-control"  type="text">
                                                    </div>
                                                    <div th:if="${#fields.hasErrors('lastName')}"  th:errors="*{lastName}" class="well alert alert-warning" role="alert">Enter a valid Last name</div>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-md-4 control-label"> Email</label>
                                                <div class="col-md-4 inputGroupContainer">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"></span>
                                                        <input  th:field="*{email}" name="email" placeholder=" Enter Your email" class="form-control"  type="text">
                                                    </div>
                                                    <div th:if="${#fields.hasErrors('email')}"  th:errors="*{email}" class="well alert alert-warning" role="alert">Enter a valid email</div>
                                                </div>
                                            </div>

                                            <p><input type="submit" class="btn btn-default navbar-btn" value="Add to profile" />
                                                <input type="reset" class="btn btn-default navbar-btn" value="Reset" /></p>

                                        </fieldset>
                                    </form>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

</section>


<div class="container">
    <footer align="left">
        <h5>&copy; Developed by Grace, 2017</h5>
    </footer>
</div>

</body>

</html>
