<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Resume Database</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/additional.css">


    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


</head>

<body>

<header class="halfpic">
    <div class="header-vertical-center">
    </div>
</header>

<nav class="navbar navbar-inverse fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ResumeDB</a>
        </div>
        <ul class="nav navbar-nav">

            <li><a href="/">Home</a></li>

            <li><a href="/displayoneprofile">YourProfile</a></li>

            <li><a href="/listnames">AllResumes</a></li>

            <li><a href="/listallposting">AllJobPost</a></li>

            <li><a href="/search">Search</a></li>

            <li style="float: right;"><a href="/logout">Logout</a></li>

        </ul>
    </div>
</nav>

<!--Application section-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">

                <!--</div><a name="about"></a>-->
                <div class="intro-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="intro-message">
                                    <hr class="intro-divider">
                                    <ul class="list-inline intro-social-buttons">
                                        <form class="well form-horizontal" th:action="@{/addskillstoperson}" method="post">

                                            <fieldset>
                                                <h3>Choose/Add a skill to our database:</h3><br />


                                                <div>
                                                    <table align="center">
                                                <th:block th:each="item:${allskills}">
                                                    <tr>
                                                        <td><input type="checkbox" name="skillIds" th:value="${item.skillId}" unchecked></td>
                                                        <!--<td><p th:text="${item.courseReg}"></p></td>-->
                                                        <td><p th:text="${item.skillname}"></p></td>
                                                        <td><p th:text="${item.skillrating}"></p></td>
                                                    </tr>
                                                </th:block>

                                                        <!--<th:block th:each="item:${arr}">-->

                                                            <!--<tr>-->
                                                                <!--<td style="padding-bottom: 10px">Other:</td>-->
                                                                <!--<td><input type="text" name="skillname" th:value="${item.skillname}" style="padding-right: 20px"></td>-->
                                                                <!--<td><input type="text" name="skillrating" th:value="${item.skillrating}"></td>-->

                                                            <!--</tr>-->

                                                        <!--</th:block>-->

                                                        <tr>
                                                            <td style="padding-bottom: 10px">Other(optional):</td>
                                                            <td><input type="text" name="skillname1" style="padding-right: 20px"></td>
                                                            <td><input type="text" name="skillrating1" ></td>
                                                        </tr>
                                                        <!--<tr>-->
                                                            <!--<td style="padding-bottom: 10px">Other skill2:</td>-->
                                                            <!--<td><input type="text" name="skillname" th:value="${otherskill2.skillname}" style="padding-right: 20px"></td>-->
                                                            <!--<td><input type="text" name="skillrating" th:value="${otherskill2.skillrating}"></td>-->
                                                        <!--</tr>-->
                                                        <!--<tr>-->
                                                            <!--<td style="padding-bottom: 10px">Other skill3:</td>-->
                                                            <!--<td><input type="text" name="skillname" th:value="${otherskill3.skillname}" style="padding-right: 20px"></td>-->
                                                            <!--<td><input type="text" name="skillrating" th:value="${otherskill3.skillrating}"></td>-->
                                                        <!--</tr>-->


                                                    </table>

                                                    </div>
                                                        <!--<table align="center">-->
                                                            <!--<th:block th:each="item:${arr}">-->

                                                                <!--<tr>-->
                                                                    <!--<td style="padding-bottom: 10px">Other:</td>-->
                                                                    <!--<td><input type="text" name="skillname" th:value="${item.skillname}" style="padding-right: 20px"></td>-->
                                                                    <!--<td><input type="text" name="skillrating" th:value="${item.skillrating}"></td>-->

                                                                <!--</tr>-->
                                                            <!--</th:block>-->
                                                        <!--<tr>-->
                                                            <!--<td style="padding-bottom: 10px">Other skill:</td>-->
                                                            <!--<td><input type="text" name="skillname" th:value="${otherskill.skillname}" style="padding-right: 20px"></td>-->
                                                            <!--<td><input type="text" name="skillrating" th:value="${otherskill.skillrating}"></td>-->
                                                        <!--</tr>-->
                                                        <!--</table>-->
                                                    <!--</div>-->
                                                <!--</div>-->

                                                <p><input type="submit" class="btn btn-default navbar-btn" value="Add to profile" />
                                                    <input type="reset" class="btn btn-default navbar-btn" value="Reset" /></p>

                                            </fieldset>
                                        </form>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

</section>


<div class="container">
    <footer align="left">
        <h5>&copy; Developed by Grace, 2017</h5>
    </footer>
</div>

</body>

</html>
