
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Resume Database</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="../../css/additional.css">


</head>


<body>


<header class="halfpic">
    <div class="header-vertical-center">

    </div>
</header>


<!--navbar-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ResumeDB</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>

            <li><a th:href="@{/addskillstojob/{id}(id=${newJob.jobId})}">Add more skills</a></li>

            <li><a href="/displaypersonalposting">YourPostings</a></li>

            <li><a href="/listnames">DisplayAllResumes</a></li>

            <li><a href="/listallposting">AllPostings</a></li>

            <li><a href="/search">Search</a></li>

            <li style="float: right"><a href="/logout">Logout</a></li>
        </ul>
    </div>
    </div>
</nav>

<!--Application section-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-left">
                <h2 th:text="'Hello, '+ ${pperson.username} + '!'"/><br/><br/>

                <h3>Skills in your resume</h3>

                <div  th:if="${!pperson.skills.isEmpty()}">
                    <th:block th:each="sk:${pperson.skills}">
                        <p th:text="'Skill: '+ ${sk.skillname} + ', ' + ${sk.skillrating}">No information available</p>
                        <p><a th:href="@{/updatesk/{id}(id=${sk.skillId})}">Update</a></p>
                        <p><a th:href="@{/deletesk/{id}(id=${sk.skillId})}">Delete</a></p>
                        <br/>
                        <!--<tr><br/></tr>-->
                        <!--<tr><br/></tr>-->
                    </th:block>
                </div>


                <div th:if="${pperson.skills.isEmpty()}">
                    No skill information available. <b>Please complete your profile by adding skills!</b>
                </div>

                <li><a href="/listnames">AllResumes</a></li>
                <!--<li><a th:href="@{/addskillstojob/{id}(id=${newJob.jobId})}">Add more skills</a></li>-->


            </div>
        </div>
    </div>
</section>



<div class="container">
    <footer align="left">
        <h5>&copy; Developed by Grace, 2017</h5>
    </footer>
</div>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</body>
</html>
