<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Resume Database</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="../../css/additional.css">


</head>


<body>


<header class="halfpic">
    <div class="header-vertical-center">

    </div>
</header>

<!--navbar-->
<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">ResumeDB</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>

                        <li><a href="/displayall">Profile</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AddToProfile<span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li><a th:href="@{/addeducationtoperson/{id}(id=${newperson.uuid})}">Add Education</a></li>
                                <li><a th:href="@{/addexptoperson/{id}(id=${newperson.uuid})}">Add Experience</a></li>
                                <li><a th:href="@{/addskilltoperson/{id}(id=${newperson.uuid})}">Add Skill</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/displayall">Display all Profile</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>

<!--Application section-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-left">
                <h1 th:text="'Hello, '+ ${newperson.firstName} + ' ' + ${newperson.lastName} + '!'"/><br/>
                <h2>Here is your profile in our Database:</h2>
                <p th:text="'Your Id in our database: ' + ${newperson.uuid}"></p>
                <p th:text="'Your email: ' + ${newperson.email}"></p>

                <h3>Your Education Achievement:</h3>


                <th:block th:each="edu:${newperson.educations}">
                    <p th:text="'Degreee: '+ ${edu.degree}"/>
                    <p th:text="'Your University: '+ ${edu.university}"/>
                    <p th:text="'Your Graduate Year: '+ ${edu.graduationYear}" />
                    <p><a th:href="@{/updateedu/{id}(id=${edu.educationId})}">Update</a></p>
                    <p><a th:href="@{/deleteedu/{id}(id=${edu.educationId})}">Delete</a></p>
                    <br/>
                    <!--<tr><br/></tr>-->
                    <!--<tr><br/></tr>-->
                </th:block>

                <h3>Your Experience: </h3>
                <th:block th:each="exp:${newperson.experiences}">
                    <p th:text="'Title: '+ ${exp.title}"/>
                    <p th:text="'Your organization: '+ ${exp.organization}"/>
                    <p th:text="'Your employment time: '+ ${exp.startTime} + ' - ' + ${exp.endTime}" />
                    <p th:text="'Your duty 1: '+ ${exp.duty1}"/>
                    <p th:text="'Your duty 2: '+ ${exp.duty2}" />
                    <p><a th:href="@{/updateexp/{id}(id=${exp.experienceId})}">Update</a></p>
                    <p><a th:href="@{/deleteexp/{id}(id=${exp.experienceId})}">Delete</a></p>
                    <br/>
                </th:block>



                <h3>Your Skill:</h3>
                <th:block th:each="sk:${newperson.skills}">
                    <p th:text="'Skill: '+ ${sk.skillname} + ', ' + ${sk.skillrating}" />
                    <p><a th:href="@{/updatesk/{id}(id=${sk.skillId})}">Update</a></p>
                    <p><a th:href="@{/deletesk/{id}(id=${sk.skillId})}">Delete</a></p>
                    <br/>
                    <br/>
                </th:block>

            </div>
        </div>
    </div>
</section>


























<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="img/m9.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">



                    <h1 th:text="'Welcome, '+ ${newperson.firstName} + '!'"/><br/>
                    <h1>To our resume database!</h1>
                    <p th:text="'Your Id' + ${newperson.uuid}"></p>
                    <br/>
                    <p><a class="btn btn-lg btn-primary" href="/addexperience" role="button">Add Experience</a></p>
                </div>
            </div>
        </div>


        <div class="item">
            <img class="second-slide" src="img/m3.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1 th:text="'Welcome, '+ ${newperson.firstName} + '!'"/><br/>
                    <h1>To our resume database!</h1>
                    <br/>
                    <br/>
                    <p><a class="btn btn-lg btn-primary" href="/addeducation" role="button">Add Education</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide" src="img/m1.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1 th:text="'Welcome, '+ ${newperson.firstName} + '!'"/><br/>
                    <h1>To our resume database!</h1>
                    <br/>
                    <br/>
                    <p><a class="btn btn-lg btn-primary" href="/addskill" role="button">Add Skill</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div><!-- /.carousel -->

<div class="container">
    <footer align="left">
        <h5>&copy; Developed by Grace, 2017</h5>
    </footer>
</div>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</body>
</html>
