<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Resume Database</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/additional.css">


    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


</head>

<body>



<!-- Header -->
<header class="halfpic">
    <div class="header-vertical-center">

    </div>
</header>


<!--navbar-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ResumeDB</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="/addeducation">AddEducation</a></li>
            <li><a href="/addexperience">AddExperience</a></li>
            <li><a href="/addskill">AddSkill</a></li>
            <li><a href="/displayall">Profile</a></li>
        </ul>
    </div>
</nav>

<!--Application section-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">

                <h3>Your education achievement:</h3> <br />
                <p th:text="'EducationId: ' + ${neweducation.educationId}"/>
                <p th:text="'Dgreee: '+ ${neweducation.degree}"/>
                <p th:text="'Your University: '+ ${neweducation.university}"/>
                <p th:text="'Your Graduate Year: '+ ${neweducation.graduationYear}" /></br><br/>

                <!--the following links works, add to the person specified -->
                <p><a th:href="@{/addeducationtoperson/{id}(id=${personid})}">Add another Education</a></p>
                <p><a th:href="@{/addexptoperson/{id}(id=${personid})}">Add Experience</a></p>
                <p><a th:href="@{/addskilltoperson/{id}(id=${personid})}">Add Skill</a></p>
                <p><a th:href="@{/displaypersonwithid/{id}(id=${personid})}">Go back to check person inof/Home</a></p>
                <p><a th:href="@{/displayoneprofile/{id}(id=${personid})}">Go back to person profile</a></p>



            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<div class="container">
    <footer align="left">
        <h5>&copy; Developed by Grace, 2017</h5>
    </footer>
</div>

</body>

</html>
