<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Resume Database</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/additional.css">


    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


</head>

<body>



<!-- Header -->
<header class="halfpic">
    <div class="header-vertical-center">

    </div>
</header>

<!--Application section-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">

                <h2>Welcome back!</h2><br/>
                <h2>To our Resume Database!</h2><br/>

                <p><a href="/displayall" class="btn btn-dark btn-lg">Check/update your profile</a></p>
            </div>
        </div>
    </div>
    <!-- /.container -->

</section>



<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
